.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}
.default{
  margin: 20px;

}

.expense {
  border: 2px red solid;
}

.income {
  border: 2px green solid;
}

.expCheck {
  color: red;
  cursor: pointer;
  margin: 10px 0;
}

.incomeCheck {
  color: green;
  cursor: pointer;
  margin: 10px 0;
}